<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistente de Contratos</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/contrato.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="nav-item" onclick="redirectToHome()">
            <img src="{{ url_for('static', filename='img/home.png') }}" alt="Home" class="icon-img">
            <span class="label">Home</span>
        </div>
        <div class="nav-item" onclick="redirectToBotDisparidade()">
            <img src="{{ url_for('static', filename='img/disparidade.png') }}" alt="Disparidades" class="icon-img">
            <span class="label">Disparidades</span>
        </div>
        <div class="nav-item" onclick="redirectToBotContract()">
            <img src="{{ url_for('static', filename='img/attention.png') }}" alt="Clausulas Abusivas" class="icon-img">
            <span class="label">Clausulas Abusivas</span>
        </div>
        <div class="nav-item">
            <img src="{{ url_for('static', filename='img/gear.png') }}" alt="Settings" class="icon-img">
            <span class="label">Settings</span>
        </div>
    </div>
    <img src="{{ url_for('static', filename='img/logo2.gif') }}" alt="Logo" class="image-logo">
    <div class="container">
        <h1 class="anek-devanagari" id="title-contract">Olá, sou o assistente Dave! Faça o upload de um contrato para classificarmos as cláusulas.</h1>
        <div id="chatbox" class="chatbox">
            <!-- Mensagens do chat -->
        </div>
        <form id="chat-form" class="form" action="/botContrato" method="post" enctype="multipart/form-data">
            <!-- Input file real (oculto) -->
            <input type="file" id="file-input" name="file" accept=".txt,.pdf" class="input-file">
            <!-- Botão personalizado -->
            <label for="file-input" id="custom-button">Escolher arquivo</label>
            <!-- Span para mostrar o nome do arquivo selecionado -->
            <span id="file-name">Nenhum arquivo escolhido</span><br><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <script>
        function scrollToBottom() {
            var chatbox = document.querySelector('.chatbox');
            chatbox.scrollTop = chatbox.scrollHeight;
        }
    
        function redirectToHome() {
            window.location.href = '/';
        }
    
        function redirectToBotContract() {
            window.location.href = '/botContrato';
        }
    
        function redirectToBotDisparidade() {
            window.location.href = '/botDisparidade';
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            scrollToBottom();
        });
    
        const observer = new MutationObserver(scrollToBottom);
        observer.observe(document.querySelector('.chatbox'), { childList: true });
    
        document.querySelector('#chat-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita o recarregamento da página
            var formData = new FormData(this);
    
            // Adiciona a mensagem do nome do arquivo ao chat
            var fileName = document.getElementById('file-name').textContent;
            if (fileName !== 'Nenhum arquivo escolhido') {
                var chatbox = document.querySelector('.chatbox');
                var fileMessage = document.createElement('div');
                fileMessage.className = 'message user';
                fileMessage.textContent = `Você enviou o arquivo: ${fileName}`;
                chatbox.appendChild(fileMessage);
            }
    
            fetch('/botContrato', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var chatbox = document.querySelector('.chatbox');
                var botMessage = document.createElement('div');
                botMessage.className = 'message bot';
                botMessage.textContent = data.bot_response;
                chatbox.appendChild(botMessage);
    
                scrollToBottom();
            })
            .catch(error => console.error('Erro:', error));
        });
    
        // Atualiza o nome do arquivo selecionado
        document.getElementById('file-input').addEventListener('change', function() {
            const fileName = document.getElementById('file-name');
            if (this.files.length > 0) {
                fileName.textContent = this.files[0].name;
            } else {
                fileName.textContent = 'Nenhum arquivo escolhido';
            }
        });
    </script>
</body>
</html>


