<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da Análise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/app.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultados da Análise</h1>
        <h2>Disparidades:</h2>
        <ul>
            {% for disparidade in disparidades %}
            <li>{{ disparidade }}</li>
            {% endfor %}
        </ul>
        
        <h2>Cláusulas Abusivas na Parte A:</h2>
        <ul>
            {% for abusiva in abusivas_texto1 %}
            <li>{{ abusiva }}</li>
            {% endfor %}
        </ul>
        
        <h2>Cláusulas Abusivas na Parte B:</h2>
        <ul>
            {% for abusiva in abusivas_texto2 %}
            <li>{{ abusiva }}</li>
            {% endfor %}
        </ul>
        
        <a href="/">Voltar</a>
    </div>
</body>
</html>
